# discord.py==2.5.2  Pas encore à jour
yt-dlp==2024.10.22
ffmpeg-python
numpy>=2.2.0
gtts
python-dotenv
PyNaCl
flask
flask-socketio       # <--- Ajoute-le !
python-socketio[client]  # <--- Et celui-là aussi !
requests==2.32.3
flask_cors
eventlet
simple-websocket

typing_extensions==4.12.2

# === Discord + voix ===
discord.py[voice]==2.4.0
PyNaCl==1.5.0

# === Réseau async utilisé par discord.py (pinner pour éviter des breaks) ===
aiohttp==3.10.5

# Utilisé uniquement pour les tests unitaires et l'automatisation CI
pytest
pytest-asyncio