# discord.py==2.5.2  Pas encore à jour
yt-dlp
ffmpeg-python
numpy>=2.2.0
gtts
python-dotenv
PyNaCl
flask
flask-socketio       # <--- Ajoute-le !
python-socketio[client]  # <--- Et celui-là aussi !
requests

# Utilisé uniquement pour les tests unitaires et l'automatisation CI
pytest